body {
    writing-mode: tb-rl; /* IE独自仕様 */
    writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

.ty {
    -webkit-text-combine: horizontal;
    text-combine : horizontal;
}

.page {
    page-break-after: always;
}